@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

:root {
    --bg: #f9f9f9;
    --fg: #333333;
    --muted: #d0d0d0;
    --accent: #49c28b;
}

.dark {
    --bg: #0D1116;
    --fg: #e1e1e1;
    --muted: #333333;
    --accent: #359167;
}

html {
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.2; 
}

body {
    background-color: var(--bg);
    color: var(--fg);
    transition: background-color .2s, color .2s;
    margin: 0;
}

p {
    color: var(--fg);
    font-size: 1rem;
    line-height: 1.6;
    margin: 0 0 1rem;
    text-rendering: optimizeLegibility;
}

main {
    background-color: var(--bg);
    color: var(--fg);
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin-top: 0.8em;
    margin-bottom: 0.4em;
}